* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 50px auto;
  width: 960px;
}

.item-list {
  margin-bottom: 50px;
}

.item {
  padding: 20px;
  list-style: none;
}

.item:nth-child(odd) {
  background-color: #eee;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: orange;
}

.box:nth-child(3n) {
  margin-right: 0;
}